{% extends "layout.html" %}

{% block title %}
Add Timetable
{% endblock %}

{% block content %}

<h2>Add Class</h2>

<form action="{{ url_for('add_timetable') }}" method="POST">

<div class="mb-3">

<label class="form-label">Subject</label>

<select class="form-select" name="subject" required>

<option value="">Select Subject</option>

{% for subject in subjects %}

<option value="{{ subject.subject_name }}">
{{ subject.subject_name }}
</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<label class="form-label">Day</label>

<select class="form-select" name="day" required>

<option>Monday</option>
<option>Tuesday</option>
<option>Wednesday</option>
<option>Thursday</option>
<option>Friday</option>
<option>Saturday</option>
<option>Sunday</option>

</select>

</div>

<div class="mb-3">

<label class="form-label">Start Time</label>

<input
type="time"
class="form-control"
name="start_time"
required>

</div>

<div class="mb-3">

<label class="form-label">End Time</label>

<input
type="time"
class="form-control"
name="end_time"
required>

</div>

<button class="btn btn-add w-100 mt-2" type="submit">
Save
</button>

</form>

{% endblock %}
